.App {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 50px); /* Adjust column width as needed */
  grid-template-rows: repeat(8, 50px); /* Adjust row height as needed */
  gap: 1px;
  background-color: #fff;
  padding: 10px;
}

.grid-row {
  display: flex;
}

.grid-item {
  width: 100%;
  height: 100%;
}

.white {
  background-color: #f0d9b5; /* Light color */
}

.black {
  background-color: #b58863; /* Dark color */
}